@switch (banner) {
@case ("banner") {
<div id="banner" class="section-m1">
    <h2>¡Hasta <span>70% de descuento</span> en todas las camisetas y accesorios!</h2>
    <button class="normal">Descubre Más</button>
</div>
}
@case ("sm-banner") {
<div id="sm-banner" class="section-p1">
    <div class="banner-box">
        <h4>Super Ofertas</h4>
        <h2>Compra 1 y Lleva Otro Gratis</h2>
        <span>La mejor ropa clásica está en oferta en Cara</span>
        <button class="white">Leer más</button>
    </div>
    <div class="banner-box banner-box2">
        <h4>Primavera/Verano</h4>
        <h2>Próxima Temporada</h2>
        <span>La mejor ropa clásica está en oferta en Cara</span>
        <button class="white">Colección</button>
    </div>
</div>
}
@case ("banner3") {
<div id="banner3">
    <div class="banner-box">
        <h2>REBAJAS DE TEMPORADA</h2>
        <h3>Colección de Invierno -50% de Descuento</h3>
    </div>
    <div class="banner-box banner-box2">
        <h2>NUEVA COLECCIÓN DE CALZADO</h2>
        <h3>Primavera / Verano 2025</h3>
    </div>
    <div class="banner-box banner-box3">
        <h2>CAMISETAS</h2>
        <h3>Nuevos Estampados de Moda</h3>
    </div>
</div>
}
}