<div id="auth">
    <div class="container" id="container"
        [ngClass]="{'right-panel-active': rigthPanelActive(), 'modal-active': showForgotPassModal()}">
        <div class="form-container sign-up-container">
            <form action="#">
                <h1>Registrarse</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>O registrate con tu correo electronico</span>
                <div class="infield">
                    <input type="text" placeholder="Nombre" />
                    <label></label>
                </div>
                <div class="infield">
                    <input type="email" placeholder="Email" name="email" />
                    <label></label>
                </div>
                <div class="infield">
                    <input type="password" placeholder="Contraseña" />
                    <label></label>
                </div>
                <button>Registrarse</button>
            </form>
        </div>
        <div [ngClass]="['form-container sign-in-container']">
            <form action="#">
                <h1>Iniciar sesión</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>o ingresa con tu cuenta</span>
                <div class="infield">
                    <input type="email" placeholder="Correo electronico" name="email" />
                    <label></label>
                </div>
                <div class="infield">
                    <input type="password" placeholder="Contraseña" />
                    <label></label>
                </div>
                <a (click)="toggleForgotModal()" class="forgot">Olvidaste tu contraseña?</a>
                <button>Ingresar</button>
            </form>
        </div>
        <div class="overlay-container" id="overlayCon">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Bienvenido!</h1>
                    <p>Inicia sesión con tu información personal y mantente al tanto de todo.</p>
                    <button>Ingresar</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hola, Amigo!</h1>
                    <p>Regístrate con tu información personal y comienza tu viaje con nosotros.</p>
                    <button>Registrarse</button>
                </div>
            </div>
            <button id="overlayBtn" (click)="toggle()"></button>
        </div>
    </div>
    @if (showForgotPassModal()) {
    <div class="modal-backdrop" *ngIf="showForgotPassModal()"></div>
    <div class="forgot-pass-modal">
        <div class="modal-container">
            <h2>Recuperar contraseña</h2>
            <h4>Ingresa el correo con el que te registraste</h4>
            <input type="email" placeholder="example@example.com">
            <button (click)="toggleForgotModal()">Recuperar</button>
            <a id="close-modal" (click)="toggleForgotModal()"><i class="far fa-times"></i></a>
        </div>
    </div>
    }
</div>