<app-page-header [data]="pageHeaderData" />

<div id="about-head" class="section-p1">
    <img src="assets/media/images/about/a6.jpg" alt="">
    <div>
        <h2>Quienes somos?</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores voluptatum et fuga voluptatem ad
            necessitatibus earum mollitia aperiam nesciunt aspernatur, cupiditate alias modi explicabo labore
            praesentium magni fugit. Unde, enim?</p>

        <abbr title="">Crea imágenes impresionantes con tanto o tan poco control como desees, gracias a la opción de
            modos Básico y Creativo.</abbr>
        <br><br>
        <marquee bgcolor="#ccc" loop="-1" scrollamount="5" width="100%">Crea imágenes impresionantes con tanto o tan
            poco control como desees, gracias a la opción de modos Básico y Creativo.</marquee>
    </div>
</div>

<div id="about-app" class="section-p1">
    <h1>Descarga nuestra <a href="#">App</a></h1>
    <div class="video">
        <video src="assets/media/videos/about/1.mp4" autoplay muted loop></video>
    </div>
</div>

<app-feature />

<app-newsletter />