<div class="container">

    <div id="hero">
        <h2>Super ofertas</h2>
        <h1>En todos los productos</h1>
        <p>¡Ahorra aún más con cupones y hasta 70% de descuento!</p>
        <button>Comprar ahora</button>
    </div>

    <app-feature />

    <div id="feat-products" class="section-p1">
        <h2>Productos Destacados</h2>
        <p>Colección de Verano con Nuevo Diseño Moderno</p>
        <app-products-component filter="featured" />
    </div>

    <app-banners banner="banner" />

    <div id="new-products" class="section-p1">
        <h2>Nuevos Productos</h2>
        <p>Colección de Verano con Nuevo Diseño Moderno</p>
        <app-products-component filter="new" />
    </div>

    <app-banners banner="sm-banner" />
    <app-banners banner="banner3" />

    <app-newsletter />

</div>