<footer class="section-p1">
    <div class="col">
        <img src="assets/logos/logo.png" class="logo" alt="">
        <h4>Contacto</h4>
        <p><strong>Dirección:</strong> 562 Wellington Road, Street 32, San Francisco</p>
        <p><strong>Teléfono:</strong> +01 2222 365 / (+91) 01 2345 6789</p>
        <p><strong>Horarío:</strong> 10:00 - 18:00. Lun - Sab</p>
        <div class="follow">
            <h4>Síguenos</h4>
            <div class="icon">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-pinterest-p"></i>
                <i class="fab fa-youtube"></i>
            </div>
        </div>
    </div>

    <div class="col">
        <h4>Acerca</h4>
        <a href="#">Acerca de nosotros</a>
        <a href="#">Detalles de Envío</a>
        <a href="#">Política de Privacidad</a>
        <a href="#">Términos & Condiciones</a>
        <a href="#">Contáctanos</a>
    </div>

    <div class="col">
        <h4>Mi Cuenta</h4>
        <a routerLink="/auth">Ingresar</a> <!-- If the user has a active session change to 'Salir' -->
        <a href="#">Mi Carrito</a>
        <a href="#">Mis Favoritos</a>
        <a href="#">Rastrear Mi Pedido</a>
        <a href="#">Ayuda</a>
    </div>

    <div class="col install">
        <h4>Descarga nuesta app</h4>
        <p>Muy pronto disponible en</p>
        <div class="row">
            <img src="assets/media/images/pay/app.jpg" alt="">
            <img src="assets/media/images/pay/play.jpg" alt="">
        </div>
        <p>Pasarelas de Pago Seguras</p>
        <img src="assets/media/images/pay/pay.png" alt="">
    </div>

    <div class="copyright">
        <p>© 2025 Cara</p>
    </div>
</footer>